*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

body{
    font-family: SimHei;
}

main{
    width: 5.72rem;

    margin: auto;
}

.main-top{
    width: 5.72rem;
    height: 1.5rem;
    border-bottom: .01rem solid #E4E4E4;
}
.main-top-img,
.main-top-name{
    float: left;
}
.main-top-img img{
    width: 1.2rem;
    height: 1.08rem;
    margin-top: .25rem;
}
.main-top-name ul li:first-child {
    color: #3A9BDF;
    font-size: .26rem;
    margin: .25rem 0 0 .15rem;
}
.main-top-name ul li:last-child{
    font-size: .2rem;
    margin: .6rem 0 0 .15rem;
}


.main-center{
    border-bottom: .01rem solid #E4E4E4;
    margin-top: .68rem;
}
.main-center li:first-child{
    font-size: .24rem;
}
.main-center li:nth-child(2){
    font-size: .01rem;
}
.main-center li:nth-child(2) img{
    width: 100%;
}
.main-center li:last-child{
    font-size: .3rem;
    margin-top: .3rem;
    margin-bottom: .2rem;
    color: #F7535A;
}

.main-foot{
    margin-top: .68rem;
}
.main-foot li:first-child{
    font-size: .24rem;
}
.main-foot li:nth-child(2){
    font-size: .01rem;
}
.main-foot li:nth-child(2) img{
    width: 100%;
}
.main-foot p{
    font-size: .24rem;
    color: #909090;
    margin-top: .22rem;
    line-height: .43rem;
}