*{
    margin: 0;
    padding: 0;
    font-family: SimHei;
}
body{
    background: #dbdbde;
    width: 6.4rem;
}
main{
    width: 6.2rem;
    margin: auto;
    background: #ffffff;
    height: 3.6rem;
    border-radius: 4px;
    margin-top: 1.39rem;
}
main h3{
    font-size: 0.26rem;
    font-weight: 600;
    line-height: 0.7rem;
    width: 5.65rem;
    margin-left: 0.3rem;
}
main h3 img{
    width: 0.29rem;
    height: 0.28rem;
    position: relative;
    top: 0.04rem;
}
main div{
    width: 5.65rem;
    font-size: 0.22rem;
    margin-left: 0.3rem;
    text-align: justify;
    color: #acacac;
}
